*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        135deg,
        #ff0080,
        #7928ca,
        #2afadf
    );
    background-size: 300% 300%;
    animation: bgAnimation 8s infinite alternate;
}

@keyframes bgAnimation{
    0%{
        background-position: left;
    }

    100%{
        background-position: right;
    }
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-box{
    width: 380px;
    padding: 40px;
    border-radius: 20px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    text-align: center;
    color: white;
}

.login-box h1{
    font-size: 40px;
    margin-bottom: 10px;
}

.subtitle{
    margin-bottom: 30px;
    font-size: 16px;
    color: #f1f1f1;
}

.input-box{
    margin-bottom: 20px;
}

.input-box input{
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 12px;
    background: rgba(255,255,255,0.2);
    color: white;
    font-size: 16px;
}

.input-box input::placeholder{
    color: #eeeeee;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    font-size: 14px;
}

.options label{
    color: white;
}

.options a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

.options a:hover{
    color: #2afadf;
}

button{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(
        90deg,
        #ff0080,
        #7928ca
    );
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}

button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255,255,255,0.5);
}

.register{
    margin-top: 25px;
}

.register a{
    color: #2afadf;
    text-decoration: none;
    font-weight: bold;
}

.register a:hover{
    text-decoration: underline;
}
